<!-- Footer -->

<div class="w3-container w3-white" style="padding:0px 29px">
  <hr style="border: 0;
  clear:both;
  display:block;
  width: 99%;               
  background-color:black;
  height: 1px;">
<footer class="w3-center w3-white w3-padding-0">


  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-wpexplorer w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Capability</p>
      <p>
        We have 12 robotic telescopes optimised for exoplanet transits located at the best astronomical site in the world.
      </p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-balance-scale w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Stability</p>
      <p>
        Our guiding is good to hundreths of a pixel, 
        resulting in photometric precision rivaling space observatories. 
      </p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-newspaper-o w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Publications</p>
      <p>Over 100 publications using NGTS data so far, check out our <a href="/pages/tabs/publications_page.html">publications page!</a></p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-check-square-o w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Diverse research</p>
      <p>As well as planets, we are interested in anything that varies,from stellar flares to supernovae! 
        <a href="/pages/tabs/contact_page.html">Contact us</a> if you'd like to use NGTS for your own research. 
        <!-- Check out our <a href="/pages/tabs/working_groups_page.html">science topics page!</a> --> </p>
    </div>
  </div>

  <hr style="border: 0;
    clear:both;
    display:block;
    width: 99%;               
    background-color:black;
    height: 1px;">
  

    <div class="w3-xlarge w3-section">
      <h3 class="w3-center">LATEST NEWS</h3>
    </div>
    
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">

<div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/news/news_25.png" alt="news_25" style="width:100%">
        <div class="w3-container">
          <h3> NGTS confirms a long-period planet from TESS </h3>
          <p class="w3-opacity ws-xxsmall">2024-05 Sam Gill</p>
          <p><button onclick="location.href='/pages/news/news_25_page.html'" class="w3-button w3-light-grey w3-block"><i class="fa"></i> Find out more</button></p>
        </div>
      </div>
    </div> 

 <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/news/news_24.jpg" alt="news_24" style="width:100%">
        <div class="w3-container">
          <h3> NGTS finds a close-in brown dwarf  </h3>
          <p class="w3-opacity ws-xxsmall">2024-05 Beth Henderson</p>
          <p><button onclick="location.href='/pages/news/news_24_page.html'" class="w3-button w3-light-grey w3-block"><i class="fa"></i> Find out more</button></p>
        </div>
      </div>
    </div> 
    
    
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/news/news_23.jpg" alt="news_23" style="width:100%">
        <div class="w3-container">
          <h3> New planet candidates from NGTS found by citizen scientists </h3>
          <p class="w3-opacity ws-xxsmall">2024-05 Sean O'Brien</p>
          <p><button onclick="location.href='/pages/news/news_23_page.html'" class="w3-button w3-light-grey w3-block"><i class="fa"></i> Find out more</button></p>
        </div>
      </div>
    </div> 
    
    
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/images/news/news_22.jpg" alt="news_22" style="width:100%">
        <div class="w3-container">
          <h3> NGTS discovers a new young and long-period transiting planet </h3>
          <p class="w3-opacity ws-xxsmall">2024-04 Matthew Battley</p>
          <p><button onclick="location.href='/pages/news/news_22_page.html'" class="w3-button w3-light-grey w3-block"><i class="fa"></i> Find out more</button></p>
        </div>
      </div>
    </div> 
  
    </div>


  
  <hr style="border: 0;
    clear:both;
    display:block;
    width: 99%;               
    background-color:black;
    height: 1px;">

  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-third">
      <iframe width="90%" height="30%" src="https://www.youtube.com/embed/c_t-1decopY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="w3-third">
      <iframe width="90%" height="30%" src="https://www.youtube.com/embed/Fp03yOTQK5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="w3-third">
      <iframe width="90%" height="30%" src="https://www.youtube.com/embed/tGs31n-HjD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  </div>
  </div>
  
  <hr style="border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:black;
  height: 1px;">

    <h3 class="w3-center">FOLLOW US ON SOCIALS</h3>
    <div class="w3-xlarge w3-section w3-center">
      <a href="https://twitter.com/NextGenTransits" target="_blank" style="margin: 0 15px;"><i class="fa fa-twitter fa-3x w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/ngtransits/" target="_blank" style="margin: 0 15px;"><i class="fa fa-instagram fa-3x w3-hover-opacity"></i></a>
      <a href="https://www.youtube.com/channel/UCjvz0gKa8LVi7qarhwBGRMg" target="_blank" style="margin: 0 15px;"><i class="fa fa-youtube fa-3x w3-hover-opacity"></i></a>
    </div>


</footer>
   
  <script>
  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }
  
  
  // Toggle between showing and hiding the sidebar when clicking the menu icon
  var mySidebar = document.getElementById("mySidebar");
  
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
      mySidebar.style.display = "none";
  }
  </script>
</div>

